{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Edit Produk</h2>
    <form action="{{ url_for('edit_product', id=product['id']) }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Nama Produk</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ product['name'] }}" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Kategori</label>
            <select class="form-control" id="category" name="category" required>
                <option value="" disabled>Pilih Kategori</option>
                <option value="Audio" {% if product['category'] == 'Audio' %}selected{% endif %}>Audio</option>
                <option value="Camera" {% if product['category'] == 'Camera' %}selected{% endif %}>Camera</option>
                <option value="Drone" {% if product['category'] == 'Drone' %}selected{% endif %}>Drone</option>
                <option value="Iphone" {% if product['category'] == 'Iphone' %}selected{% endif %}>Iphone</option>
                <option value="Lensa" {% if product['category'] == 'Lensa' %}selected{% endif %}>Lensa</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Deskripsi</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ product['description'] }}</textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Harga (Rp)</label>
            <input type="number" class="form-control" id="price" name="price" value="{{ product['price'] }}" required min="0" step="0.01">
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stok</label>
            <input type="number" class="form-control" id="stock" name="stock" value="{{ product['stock'] }}" min="1" required>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Upload Gambar (Kosongkan jika tidak ingin mengubah)</label>
            <input type="file" class="form-control" id="img" name="img" accept="image/*">
        </div>

        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="{{ url_for('menu') }}" class="btn btn-secondary">Batal</a>
    </form>
</div>
{% endblock %}
